/* Styles for the login page container */
.login-page {
    background-color: #89afe7; 
    background-image: url('../asserts/bckgrnd/login3.png');
    background-size: cover;
    background-position: center;
    opacity: 0.95;
}


.login-page .card {
    border-radius: 15px;
    border: 2px solid rgba(0, 81, 255, 0.3);
    background: rgba(255, 255, 255, 0.48);
}


.login-page .heading-primary {
    color: rgb(3, 53, 190); 
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}


.text-muted-small {
    font-size: 1rem;
    color: #6c757d;
    line-height: 1.5;
}